<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="AzureSubscriptionKey" value="f3aa4a...b690e" />
      <add key="spUrl" value="https://dominio.sharepoint.com/sites/SiteCollection" />
      <add key="spLibrary" value="InkLibrary" />
      <add key="spInkTextField" value="InkText" />
      <add key="spInkPictureField" value="InkPicture" />
      <add key="spUserName" value="user@domain.onmicrosoft.com" />
      <add key="spUserPw" value="VerySecurePw" />
    </appSettings>
</configuration>